<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="database-unit" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>datasource</non-jta-data-source>
    <class>com.ansecru.jpa.entity.Users</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <!--properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/db_spring_example?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="springuser"/>
      <property name="javax.persistence.jdbc.driver" value="MySQL JDBC Driver"/>
      <property name="javax.persistence.jdbc.password" value="userspring1234"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties-->
  </persistence-unit>
</persistence>
